#footer {
    background-color: var(--prColor);
    width: 100%;
    padding: 30px 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: var(--fontSize);
    color: var(--whiteColor);
}

.footerContainer {
    width: 250px;
    padding: 10px;
}

#footerContainer1 img {
    width: 100%;
}

.footerContainer h1 {
    margin: 0px 0px 10px 0px;
    font-weight: 600;
    font-size: calc(var(--fontSize) + 4px);
}

#footerContainer2 p {
    text-align: justify;
    color: var(--whiteColor);

}

#footerContainer3 {
    display: flex;
    flex-direction: column;
}

#footerContainer3 ul li {
    list-style: none;
    margin: 0px 0px 5px 0px;
    cursor: pointer;
}

#footerContainer3 ul li a {
    text-decoration: none;
    color: var(--whiteColor);
    cursor: pointer;
    display: block;
    transition: all 0.1s ease-in ;
}

#footerContainer3 ul li a:hover {
    font-weight: 500;
    translate: 5px;
}

.footerSMIcons {
    width: 50px;
    margin: 5px;
}

