.homeFullWithContainer {
    width: 100%;
    min-height: calc(100vh - 66px);
    padding: 55px 70px;
    position: relative;
    background-image: url('../Images/backgroundImages/debitCard.webp'), url('../Images/backgroundImages/bank.webp');
    background-repeat: no-repeat;
    background-size: 12%, 22%;
    background-position: right 10px, left bottom;
}

.homeContainer {
    display: flex;
    flex-wrap: wrap;
}

.homeSubContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* LEFT SIDE CONTAINER */

.homeLeftSideContainer {
    flex: 1 1 54%;
}

#homeHeading {
    font-size: var(--headSize);
    color: var(--prColor);
}

#homeHeading span {
    color: var(--secColor);
}

#homeSubHeading {
    max-width: 330px;
    margin: 0 0 50px 0;
    font-size: var(--fontSize);
    font-weight: 500;
    color: var(--blackColor);
}

#homeBannerBtn {
    background-color: var(--prColor);
    width: 170px;
}

#homeBannerBtn:hover {
    background-color: var(--prDarkColor);
    width: 172px;
}

/* RIGHT SIDE CONTAINER */

.homeRightSideContainer {
    flex: 1 1 46%;
}