.homeFullWithContainer {
    width: 100%;
    min-height: calc(100vh - 70px);
    padding: 55px 70px;
    padding: 3% 6%;
    position: relative;
    background-image: url('../Images/backgroundImages/debitCard.png'), url('../Images/backgroundImages/bank.png');
    background-repeat: no-repeat;
    background-size: 12%, 22%;
    background-position: right 10px, left bottom;
}

.homeContainer {
    display: flex;
    flex-wrap: wrap;
}

.homeSubContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* LEFT SIDE CONTAINER */

.homeLeftSideContainer{
    flex: 1 1 55%;
}

#homeHeading {
    font-size: var(--headingSize);
    color: var(--prColor);
}

#homeHeading span {
    color: var(--secColor);
}

#homeSubHeading {
    max-width: 330px;
    margin: 0 0 50px 0;
    font-size: var(--fontSize);
    font-weight: 500;
}

#homeBannerBtn {
    width: 170px;
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 8px 12px 8px 15px;
    background-color: var(--prColor);
    color: var(--whiteColor);
    font-size: var(--fontSize);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in 0s;
}

#homeBannerBtn:hover {
    background-color: var(--secColor);
    width: 175px;
}

/* RIGHT SIDE CONTAINER */

.homeRightSideContainer{
    flex: 1 1 45%;
}