    @media screen and (max-width: 500px) {
        :root {
            --fontSize: 18px;
            --headingSize: 48px;
            --titleHeadingSize: 36px;
            --titleHeadingSize: 30px;
        }
        .homeFullWithContainer {
            padding: 10px 15px;
            background-size: 25%, 35%;
        }
        .homeSubContainer {
            padding: 15px 10px;
        }
        #homeHeading {
            font-size: var(--headingSize);
        }
        .bankDataInfoContainer{
            flex: 1 1 100%;
        }
    }    
    
    @media screen and (max-width: 375px) {
        .homeSubContainer {
            padding: 10px 0px;
        }
        #bankDetailSearchContainer {
            padding: 20px 10px
        }
        #bankDetailSearchContainer h1 {
            font-size: 28px;
        }
        #bankDetailSearchContainer h1 span::after {
            height: 3px;
            left: -3px;
        }
    }